@page "/"

@inject NavigationManager MyNavigationManager

@using PSC.Blazor.Components.Chartjs.Interfaces
@using System.Text.Json.Serialization
@using System.Collections.Generic

@inject IChartingRepo ChartingRepo

<MudContainer MaxWidth="MaxWidth.False">
    @foreach (var ci in cycles)
    {
        <div style="padding-top:15px;" >
            <CycleChart CycleIndex="@ci.Index" Cycle="@ci.Item" LimitDays=true  />
        </div>
    }
</MudContainer>

@code {

    private List<CycleIndex<Cycle>> cycles = new List<CycleIndex<Cycle>>();
    private int CycleLimit { get; set; } = 3;

    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine($"Index Render, Cycle Limit: {CycleLimit}, Count: {cycles.Count}");
        if (cycles.Count < CycleLimit)
        {
            cycles.AddRange(ChartingRepo.Cycles.Take(CycleLimit - cycles.Count));
            StateHasChanged();
        }
    }
}
